<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ingresa el audio</h1>
    <input type="file" id="fileinput">
    <br>
    <h1>Blob a B64</h1>
    <button id="btna64">Covierte a base 64</button>
    <br>
    <h1>B64 a Blob</h1>
    <button id="btnablob">Covierte a blob</button>
    <br>
    <script type="module" src="/js/bloba64.js"></script>
</body>
</html>